In [15]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType
from pyspark.sql.functions import concat, col, substring, lit, lower

In [2]:
spark = SparkSession.builder.master('local[*]').appName('the_pads').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/02 13:45:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
data = [
    ("Samantha", "Doctor"),
    ("Julia", "Actor"),
    ("Maria", "Actor"),
    ("Meera", "Singer"),
    ("Ashley", "Professor"),
    ("Ketty", "Professor"),
    ("Christeen", "Professor"),
    ("Jane", "Actor"),
    ("Jenny", "Doctor"),
    ("Priya", "Singer")
]

schema = StructType([
    StructField("Name", StringType(), True),
    StructField("Occupation", StringType(), True)
])

occupations = spark.createDataFrame(data=data, schema=schema)

In [5]:
occupations.show()

+---------+----------+
|     Name|Occupation|
+---------+----------+
| Samantha|    Doctor|
|    Julia|     Actor|
|    Maria|     Actor|
|    Meera|    Singer|
|   Ashley| Professor|
|    Ketty| Professor|
|Christeen| Professor|
|     Jane|     Actor|
|    Jenny|    Doctor|
|    Priya|    Singer|
+---------+----------+

In [13]:
result1_df = occupations.select(concat(col('Name'), lit('('), substring(col('Occupation'), 0, 1), lit(')')).alias('Name and Occupation'))
result1_df.show(10)

+-------------------+
|Name and Occupation|
+-------------------+
|        Samantha(D)|
|           Julia(A)|
|           Maria(A)|
|           Meera(S)|
|          Ashley(P)|
|           Ketty(P)|
|       Christeen(P)|
|            Jane(A)|
|           Jenny(D)|
|           Priya(S)|
+-------------------+

In [19]:
result2_df = occupations.groupBy(col('Occupation')).count()\
    .orderBy(col('count'))\
    .select(concat(lit('There are a total of '), col('count'), lit(' '), lower(col('Occupation')), lit('s.')).alias('Occupation Count'))
result2_df.show()

+--------------------+
|    Occupation Count|
+--------------------+
|There are a total...|
|There are a total...|
|There are a total...|
|There are a total...|
+--------------------+